.PopUp--Container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  bottom: 20px;
  right: 20px;
  position: fixed;
  font-family: "Roboto Mono", monospace;
  border: 1px solid #292929;
  border-radius: 20px;
  box-shadow: 5px 5px #292929;
  background-color: #fffbd5;
  align-items: center;
  width: 100%;
  max-width: 350px;
  padding: 15px;
}

@media (max-width: 350px) {
  .PopUp--Container {
    right: 10px;
    padding: 10px;
    width: 95%;
    font-size: 15px;
  }
}
