.searchbar {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #474646;
  padding: 4px;
  box-shadow: none;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.searchbar--focused {
  box-shadow: -3px -3px #292929;
  background-color: #cdcded;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.Bought-Connect {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
  border: 1px solid #292929;
  border-radius: 20px;
  box-shadow: 5px 5px #292929;
  max-width: 500px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

#Bought-connect--imp {
  width: 90%;
  height: 90dvh;
  justify-content: flex-start;
}

.search--input {
  font-family: "Roboto Mono", monospace;
  height: 2rem;
  border: none;
  outline: none;
  flex-grow: 1;
  border-radius: 15px;
  padding-left: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.search--input--focused {
  background-color: #cdcded;
  transition: background-color 0.3s ease-in-out;
}

.bought--tickets--body::-webkit-scrollbar {
  width: 10px;
}
.bought--tickets--body::-webkit-scrollbar-track {
  background-color: rgba(146, 157, 207, 0);
  border-radius: 10px;
  margin-left: 15px;
  margin-top: -18px;
}
.bought--tickets--body::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 20px;
  border: 1px solid #292929;
  border-bottom: 3px solid #292929;
  border-right: 3px solid #292929;
}
.bought--tickets--body::-webkit-scrollbar-button {
  height: 0px;
}

.bought--tickets--head {
  padding-left: 1%;
  position: absolute;
  right: 3%;
  width: 94%;
  padding-bottom: 1rem;
  z-index: 3;
  background-color: #fff;
}

.bought--tickets--body {
  gap: 2rem;
  padding-top: 6.5rem;
  border-radius: 10px;
  padding-left: 12%;
  padding-right: 6%;
  padding-bottom: 3%;
  max-height: 660px;
  width: 112%;
  overflow-y: scroll;
  position: absolute;
  right: -4%;
  height: 83dvh;
}

@media (max-width: 330px) {
  .Bought-Connect {
    font-size: 14px;
    width: 90%;
  }
  .bought--tickets--body {
    height: 83dvh;
  }
  #Bought-connect--imp {
    max-height: 600px;
  }
}
