.Active--Batches {
  padding: 0px 0px 10px 0px;
  font-family: "Roboto Mono", monospace;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.Active--Batches--Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #292929;
  width: 65%;
}

.Active--Batches--Main > h1 {
  margin: 30px 0px;
  font-size: 25px;
}

.flipPosition {
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
}

.unFlip {
  width: 100%;
}
